@import '../../styles.scss';


//  ======all header=========
header {
  @extend %flex-row;
  justify-content: center;
  position: fixed;
  z-index: 100;
  background-color: $white;
  background-color:$opasity;
  width: 100%;

  & a {
    @extend %flex-row;
    text-decoration: none;
    color: $black;
    font-family: $font-primary;
    font-size: 1.6rem;
    font-weight: 400;

    &:hover {
      color: $primary;
    }
  }

  //   ======== desktop  header ========
  .header {
    @extend %flex-row;
    justify-content: center;
    // position: fixed;
    box-sizing: border-box;
    background-color: $white;
    background-color:$opasity;
    width: 100%;
    height: 64px;
    margin-top: -2px;
    padding-right: 43px;

    @media (max-width: 768px) {
      display: none;
    }



    &__logo {
      @extend %flex-column;

      a {
        background-image: url(../../assets/image/logo.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 134px;
        width: 134px;
        height: 64px;
        margin: 3px 67px 0 48px;

        &:hover {
          background-image: url(../../assets/image/logoOr.svg);
          background-repeat: no-repeat;
        }
        @media(max-width: 426px){
          margin-right: 10px;
        }
      }

    }

    &__nav {
      @extend %flex-row;
      justify-content: stretch;
      width: 524px;
      height: 64px;


      & a {
        margin-right: 29px;
      }
    }

    &__user {
      @extend %flex-row;
      justify-content: stretch;
      width: 166px;


      &-data {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 166px;
      }

      &-name {
        font-size: 1.4rem;
        color: $black;
        width: 56px;
      }

      &-mail a {
        font-family: $font-primary;
        color: $grey;
        font-size: 1.2rem;
        font-weight: 400;
        width: 111px;
        padding-right: 2px;
      }

      &-img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 19px 13px 13px;
        padding-right: 3px;
      }
    }

    &__out {
      width: 24px;
      height: 24px;
      margin: 8px 0 0 14px;

      &-sign.svg {
        width: 24px;
        height: 20px;
      }

      &-sign.png {
        display: none;
      }
    }
  }

  // ========mobile header============== 
  .tablet {
    display: none;
    justify-content: space-between;
    align-items: center;
    // position: fixed;
    background-color: $white;
    background-color:$opasity;
    width: 100%;
    height: 64px;
    margin-top: -2px;

    @media (max-width: 768px) {
      display: flex;
    }


    &__logo {
      @extend .header__logo
    }

    &__menu-burger {
      background-image: url(../../assets/icons/line-menu.png);
      background-size: contain;
      margin: 0 40px;
      width: 23px;
      height: 22px;

      &:hover {
        .tablet__menu-links {
          @extend %flex-column;
        }
      }

      .tablet__menu-links {
        display: none;
        justify-content: center;
        position: absolute;
        border-radius: 4px;
        right: 30vw;
        top: 5vw;
        z-index: 65;
        background-color: rgba(214, 209, 209, 0.95);
        width: 40vw;
        height:60vh;

        @media (max-width: 426px) {
          right: 15vw;
          top: 15vh;
          width: 70vw;
          height: 70vh;
        }

        a {
          @extend %flex-row;
          text-decoration: none;
          color: $black;
          font-family: $font-primary;
          font-size: 1.6rem;
          font-weight: 400;
          margin: 25px 0;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
