<footer>
  <div class="footer">
    <div class="footer__header ">
      <div class="footer__header-logo">
        <a href="https://abz.agency">
          <!-- <img class="logo" src="../../assets/image/logoFooter.png" alt=""> -->
          <!-- <img class="logo" src="./assets/image/logoFooter.png" alt=""> -->
        </a>
      </div>
      <div class="footer__header-nav">
        <a href="#about">About me</a>
        <a href="#relationships">Relationships</a>
        <a href="#requirements">Requirements</a>
        <a href="#users">Users</a>
        <a href="#signUp">Sign Up</a>
      </div>
    </div>
<div class="footer__header-border-bottom"></div>
    <div class="footer__link">

      <div class="footer__link-data">
        <div class="footer__link-data-data">
          <a href="mailto:work.of.future@gmail.com" id="footerMail">
            <!-- <img src="../../assets/icons/mail.svg" alt="">work.of.future@gmail.com -->
            <!-- <img src="./assets/icons/mail.svg" alt=""> -->
            work.of.future@gmail.com
          </a>
        </div>
        <div class="footer__link-data-data">
          <a href="tel:+380507892498" id="footerPhone">
            <!-- <img src="../../assets/icons/phone.svg" alt="">+38 (050) 789 24 98 -->
            <!-- <img src="./assets/icons/phone.svg" alt=""> -->
            +38 (050) 789 24 98
          </a>
        </div>
        <div class="footer__link-data-data">
          <a href="tel:+380955560845" id="footerMobile">
            <!-- <img src="./assets/icons/cellphone.svg" alt=""> -->
            +38 (095) 556 08 45
          </a>
        </div>
      </div>

      <div class="footer__link-links">
        <a href="#">News</a>
        <a href="#">Blog</a>
        <a href="#">Partners</a>
        <a href="#">Shop</a>
      </div>

      <div class="footer__link-links">
        <a href="#">Overview</a>
        <a href="#">Design</a>
        <a href="#">Code</a>
        <a href="#">Collaborate</a>
      </div>

      <div class="footer__link-links">
        <a href="#">Tutorials</a>
        <a href="#">Resources</a>
        <a href="#">Guides</a>
        <a href="#">Examples</a>
      </div>

      <div class="footer__link-links">
        <a href="#">FAQ</a>
        <a href="#">Terms</a>
        <a href="#">Conditions</a>
        <a href="#">Help</a>
      </div>

    </div>

    <div class="footer__share">
      <div class="footer__share-design">© abz.agency specially for the test task</div>
      <div class="footer__share-network">
        <a href="//uk-ua.facebook.com" id="facebook">
          <!-- <img src="./assets/icons/facebook.svg" alt=""> -->
        </a>
        <a href="//www.linkedin.com" id="linkedin">
          <!-- <img src="./assets/icons/linkedin.svg" alt=""> -->
        </a>
        <a href="//www.instagram.com" id="instagram">
          <!-- <img src="./assets/icons/instagram.svg" alt=""> -->
        </a>
        <a href="//twitter.com" id="twitter">
          <!-- <img src="./assets/icons/twitter.svg" alt=""> -->
        </a>
        <a href="//www.pinterest.com" id="pinterest">
          <!-- <img src="./assets/icons/pinterest.svg" alt=""> -->
        </a>
      </div>
    </div>
  </div>
</footer>
 