<div class="users">
  <a name="users"></a>
  <div class="background__header"></div>
  <div class="users__h1">Our cheerful users</div>
  <div class="users__h3">Attention! Sorting users by registration date</div>

  <div class="users__grid">

    <div class="user" *ngFor='let user of users'>
      <img [src]="user.photo" alt="">
      <div class="user__account" [id]='user.id'>
        <div class="user__account-name" >{{user.name}}</div>
        <div class="user__account-description">{{user.position}}</div>
        <a class="user__account-mail " [href]="'mailto:'+ user.email" matTooltip={{user.email}} 
        matTooltipClass = "tooltip-long-text"  >{{user.email}}</a>
        <a class="user__account-tel" [href]="'tel:' + user.phone">{{user.phone}}</a>
      </div>
    </div>

  </div>
  <!-- <div class="showMore"> -->
  <button class="showMore" 
  (click)="clickGetMore()" 
  [disabled]="page > (pagesCount - 1)" 
  [ngClass]="{disabled: (page > (pagesCount - 1))}"
  mat-stroked-button color="primary">
    Show more </button>
  <!-- </div> -->
</div>


