<div class="main">

  <div class="background__header"></div>
  <!--==========Test assignment============ -->

  <div class="main__assignment">
    <div class="main__assignment-box">
      <div class="main__assignment-h1">
        <p>Test assignment for Frontend Developer position</p>
      </div>
      <div class="main__assignment-goodluck">We kindly remind you that your test assignment
        should be submitted as a link
        to github/bitbucket repository. <span> Please be patient,
          we consider and respond to every application that
          meets minimum requirements. We look forward to your
          submission. Good luck!</span> </div>
      <div class="main__assignment-button  example-button-row">
        <a class="signUp" href="#signUp" mat-raised-button color="primary">Sign Up</a>
      </div>
    </div>
  </div>

  <div class="background__header"></div>
  <!-- About me         -->

  <a name="about"></a>
  <div class="main__relationships">
    <div class="main__relationships-h2"> Let's get acquainted</div>

    <div class="main__description">
      <div class="main__description-img">
        <img src="./assets/image/man-mobile (1).svg" alt="">
      </div>

      <div class="main__description-dev">
        <div class="main__description-dev-h3">I am cool frontend developer</div>
        <div class="main__description-dev-when">
          <p class="margin-pozition"> When real users have a slow experience on mobile,
            they're much less likely to find what they are
            looking for or purchase from you in the future.
            For many sites this equates to a huge missed opportunity,
            especially when more than half of visits are abandoned if
            a mobile page takes over 3 seconds to load.</p>
          <p> Last week, Google Search and Ads teams announced two
            new speed initiatives to help improve user-experience on the web.</p>
        </div>
        <div class="main__description-dev-button example-button-row">
          <a mat-button class="signUp" href="#signUp">Sign Up</a>
        </div>
      </div>
      <!-- ============ relationships =================-->
    </div>
    <a name="relationships"></a>
    <div class="background__header"></div>

    <div class="main__relationships-h2 ">About my relationships with
      web-development</div>
    <div class="main__relationships-skills">
      <div class="main__relationships-html">
        <img src="./assets/image/html (1).svg" alt="" matTooltip="HyperText Markup Language">

        <div class="main__skills-direction">
          <div class="main__description-dev-h3">I'm in love with HTML</div>
          <p>Hypertext Markup Language (HTML) is the
            standard markup language for creating
            web pages and web applications.</p>
        </div>

      </div>
      <div class="main__relationships-css">
        <img src="./assets/image/css (1).svg" alt="" matTooltip="Cascading Style Sheets">

        <div class="main__skills-direction">
          <div class="main__description-dev-h3">CSS is my best friend</div>
          <p>Cascading Style Sheets (CSS)
            <br> is a style sheet language used
            for describing the presentation of
            a document written in a markup language like HTML.</p>
        </div>
      </div>
      <div class="main__relationships-javascript">
        <img src="./assets/image/javascript (1).svg" alt="" matTooltip="JavaScript">

        <div class="main__skills-direction">
          <div class="main__description-dev-h3">JavaScript is my passion</div>
          <p>JavaScript is a high-level, interpreted programming language.
            It is a language which is also characterized as dynamic,
            weakly typed, prototype&nbsp;-&nbsp;based and <wbr>multi&nbsp;-&nbsp;paradigm.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="background__header"></div><a name="requirements"></a>
  <!--  ======== requirements =============== -->
  <div class="main__requirements">
    <div class="main__requirements-box">
      <div class="main__requirements-description-h2">General requirements for the test task</div>
      <div class="main__requirements-description">
        <div>
          <p>Users want to find answers to their questions quickly and data shows that people really care about how
            quickly
            their pages load. The Search team announced speed would be a ranking signal for desktop searches in 2010
            and
            as
            of this month (July 2018), page speed will be a ranking factor for mobile searches too.</p>

          <p> If you're a developer working on a site, now is a good time to evaluate your performance using our speed
            tools. Think about how performance affects the user experience of your pages and consider measuring a
            variety
            of real-world user-centric performance metrics.</p>
          <p>
            Are you shipping too much JavaScript? Too many images? Images and JavaScript are the most significant
            contributors to the page weight that affect page load time based on data from HTTP Archive and the Chrome
            User
            Experience Report - our public dataset for key UX metrics as experienced by Chrome users under real-world
            conditions.</p>
        </div>
        <div>
          <img src="./assets/image/man-laptop-v1 (1).svg" alt="" class="mobile-desktop">
          <img src="./assets/image/man-laptop-v2 (1).svg" alt="" class="tablet">
        </div>
      </div>
    </div>
  </div>
</div>
